In [ ]:
# Initialize a dictionary "emp_info" with below details
# In - emp_info['Tom']
# Out - {'email':'tom_latham019@gmail.com', 'Phone': +1987654321, 'City': 'California'}

# In - emp_info['Kathy']
# Out - {'email':'kathy_abram897@gmail.com', 'Phone': +1887654321, 'City': 'New York'}

emp_info={"Tom":{'email':'tom_latham019@gmail.com', 'Phone': +1987654321, 'City': 'California'},
          "Kathy":{'email':'kathy_abram897@gmail.com', 'Phone': +1887654321, 'City': 'New York'}}
print(emp_info['Tom'])
print(emp_info['Kathy'])
print("################################Another way ######################################")
emp_key = ['Tom','Kathy']
emp_inner_key = ['email','Phone','City']
emp1_value= ['tom_latham019@gmail.com','+1987654321','California']
emp2_value=['kathy_abram897@gmail.com','+1887654321','New York']

emp_info=dict(zip(emp_key,(dict(zip(emp_inner_key,emp1_value)),dict(zip(emp_inner_key,emp2_value)))))

print(emp_info['Tom'])
print(emp_info['Kathy'])

print("################################Another way ######################################")

dictTom=dict([('email','tom_latham019@gmail.com'), ('Phone','+1987654321'), ('City','California')])
dictKathy=dict([('email','kathy_abram897@gmail.com'),('Phone','+1887654321'),('City', 'New York')])
listofempinfo=[('Tom',dictTom),('Kathy',dictKathy)]
emp_info=dict(listofempinfo)
print(emp_info['Tom'])
print(emp_info['Kathy'])

{'email': 'tom_latham019@gmail.com', 'Phone': 1987654321, 'City': 'California'}
{'email': 'kathy_abram897@gmail.com', 'Phone': 1887654321, 'City': 'New York'}
################################Another way ######################################
{'email': 'tom_latham019@gmail.com', 'Phone': '+1987654321', 'City': 'California'}
{'email': 'kathy_abram897@gmail.com', 'Phone': '+1887654321', 'City': 'New York'}
################################Another way ######################################
{'email': 'tom_latham019@gmail.com', 'Phone': '+1987654321', 'City': 'California'}
{'email': 'kathy_abram897@gmail.com', 'Phone': '+1887654321', 'City': 'New York'}

In [ ]:
# Create a dictionary out of below inputs
lst1 = ['emp1', 'emp2', 'emp3']
emp_key = ['e_name', 'e_id', 'e_sal']
emp1_val = ['John', 'SG101', '$10,000']
emp2_val = ['Smith', 'SG102', '$9,000']
emp3_val = ['Peter', 'SG103', '$9,500']

# Expected Output:- {'emp1':{'e_name':'John', 'e_id':'SG101', 'e_sal':$10,000}, 
#                    'emp2':{'e_name':'Smith', 'e_id':'SG102', 'e_sal':$9,000}, 
#                    'emp3':{'e_name':'Peter', 'e_id':'SG103', 'e_sal':$9,500}}

empdict=dict(zip(lst1,(dict(zip(emp_key,emp1_val)),dict(zip(emp_key,emp2_val)),dict(zip(emp_key,emp3_val)))))
print(empdict)

{'emp1': {'e_name': 'John', 'e_id': 'SG101', 'e_sal': '$10,000'}, 'emp2': {'e_name': 'Smith', 'e_id': 'SG102', 'e_sal': '$9,000'}, 'emp3': {'e_name': 'Peter', 'e_id': 'SG103', 'e_sal': '$9,500'}}

In [ ]:
# Acess the value of key 'history'

sampleDict = { 
   "class":{ 
      "student":{ 
         "name":"Mike",
         "marks":{ 
            "physics":70,
            "history":80
         }
      }
   }
}

print(sampleDict['class']['student']['marks']['history'])

80

In [ ]:
# Initialize dictionary with default values. Inputs are:-
employees = ['Kelly', 'Emma', 'John']
defaults = {"designation": 'Application Developer', "salary": 8000}

#Expected output:- {'Kelly': {'designation': 'Application Developer', 'salary': 8000}, 
#                   'Emma': {'designation': 'Application Developer', 'salary': 8000}, 
#                   'John': {'designation': 'Application Developer', 'salary': 8000}}

empDictionary={}
for i in employees:
  empDictionary.setdefault(i,defaults)
print(empDictionary)

print("################################Another way ######################################")

empDictionary2={}
print(empDictionary2.fromkeys(employees,defaults))

{'Kelly': {'designation': 'Application Developer', 'salary': 8000}, 'Emma': {'designation': 'Application Developer', 'salary': 8000}, 'John': {'designation': 'Application Developer', 'salary': 8000}}
################################Another way ######################################
{'Kelly': {'designation': 'Application Developer', 'salary': 8000}, 'Emma': {'designation': 'Application Developer', 'salary': 8000}, 'John': {'designation': 'Application Developer', 'salary': 8000}}

In [ ]:
# In gene expression, mRNA is transcribed from a DNA template. 
# The 4 nucleotide bases of A, T, C, G corresponds to the U, A, G, C bases of the mRNA. 
# Write a function that returns the mRNA transcript given the sequence of a DNA strand.
listDNA = ['A', 'T', 'C', 'G']
listRNA = ['U', 'A', 'G', 'C']

dictDNAtiRNA = dict(zip(listDNA,listRNA))

def DNAtoRNA (seqDNA):
  listMRNA = []
  for i in seqDNA:
    listMRNA.append(dictDNAtiRNA[i])
  return listMRNA

seqDNA = list(input("Give DNA strand : ").upper())

print(''.join(DNAtoRNA(seqDNA)))





# Use a dictionary to provide the mapping of DNA to RNA bases.

Give DNA strand : GCTA
CGAU

In [ ]:
# Write a function which takes a word as input and returns a dictionary with letters as key and no of time letters are repeated as value.
# In - count_letter('google.com')
# Out - {'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

InputWord=input("Enter a word to be investigated ")

def charcount(InputWord):
  CountDict = {}
  for i in InputWord:
    if i in CountDict.keys():
      CountDict[i] = CountDict[i] + 1
    else:
      CountDict.setdefault(i,1)
  return CountDict

print(charcount(InputWord))

Enter a word to be investigated google.com
{'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

In [ ]:
# A DNA strand consisting of the 4 nucleotide bases is usually represented with a string of letters: A,T, C, G. 
# Write a function that computes the base composition of a given DNA sequence.

# In - baseComposition("CTATCGGCACCCTTTCAGCA")
# Out - {'A': 4, 'C': 8, 'T': 5,  'G': 3 }
    
# In - baseComposition("AGT")
# Out - {'A': 1, 'C': 0, 'T': 1,  'G': 1 }

InputWord=input("Enter a composition to be investigated ")

def charcount(InputWord):
  CountDict = {}
  listDNA = ['A','T', 'C', 'G']
  for i in InputWord:
    if (i in CountDict.keys()) and (i in listDNA):
      CountDict[i] = CountDict[i] + 1
    elif (i not in CountDict.keys()) and (i in listDNA):
      CountDict.setdefault(i,1)
    else:
      print(str(i) + "is not in the DNA sequence")
  for j in listDNA:
    if j not in InputWord:
      CountDict.setdefault(j,0)
  return CountDict

print(charcount(InputWord))

Enter a composition to be investigated AGT
{'A': 1, 'G': 1, 'T': 1, 'C': 0}

In [ ]:
# [MCQ] Suppose "d" is an empty dictionary, which statement does not assign "d" with {"Name":"Tom"}? 
# 1. d = {"Name": "Tom" }
# 2. d["Name"] = "Tom"
# 3. d.update({"Name": "Tom" })
# 4. d.setdefault("Name", "Tom")
# 5. None of the above.

5.

In [ ]:
# [MCQ] d = {"a":1, "b":2}. Which of the statements returns [1,2]? 
# 1. d.keys()
# 2. d.values()
# 3. d.items()
# 4. d.popitem()
# 5. None of the above.

2.

In [ ]:
# [MCQ] Which of the following declarations is not valid for 'dict' type?
# 1. d = {"Name": "Tom" }
# 2. d = { (1,3,4): 4.5 }
# 3. d = { ["First", "Last"]: (1,3) }
# 4. d = { 1: 0.4 }
# 5. None of the above

3.

In [14]:
# Write a function reverseLookup(dictionary, value) that takes in a dictionary 
# and a value as arguments and returns a sorted list of all keys that contains the value. 
# The function will return an empty list if no match is found.

# In - reverseLookup({'a':1, 'b':2, 'c':2}, 1)
# Out - ['a']
# In - reverseLookup({'a':1, 'b':2, 'c':2}, 2)
# Out - ['b', 'c']
# In - reverseLookup({'a':1, 'b':2, 'c':2}, 3)
# Out - []

InputDictionary = eval(input("Enter Dictionary : "))
InputValue = eval(input("Enter Value : "))

def reverseLookup(InputDictionary,InputValue):
  listKeys = []
  for key,value in InputDictionary.items():
    if value == InputValue:
      listKeys.append(key)
  listKeys.sort()
  return listKeys

print(reverseLookup(InputDictionary,InputValue))

Enter Dictionary : {'a':1, 'b':2, 'c':2}
Enter Value : 3
[]

In [42]:
# Write a function invertDictionary(d) that takes in a dictionary as argument and return a dictionary that inverts the keys and the values of the original dictionary.
# In - invertDictionary({'a':1, 'b':2, 'c':3, 'd':2})
# Out - {1: ['a'], 2: ['b', 'd'], 3: ['c']}
# In - invertDictionary({'a':3, 'b':3, 'c':3})
# Out - {3: ['a', 'c', 'b']}
# In - invertDictionary({'a':2, 'b':1, 'c':2, 'd':1})
# Out - {1: ['b', 'd'], 2: ['a', 'c']}
InputDictionary = eval(input("Enter Dictionary : "))
def invertDictionary(InputDictionary):
  listKeys=[]
  listValues=[]
  
  for key,value in InputDictionary.items():
    if value not in listKeys:
      listKeys.append(value)
  for i in range(len(listKeys)):
    innerlistvalues=[]
    for key,value in InputDictionary.items():
        if listKeys[i] == value:
          innerlistvalues.append(key)
    listValues.append(innerlistvalues)
  return dict(zip(listKeys,listValues))

invertDictionary(InputDictionary)

Enter Dictionary : {'a':2, 'b':1, 'c':2, 'd':1}

{1: ['b', 'd'], 2: ['a', 'c']}

In [ ]:
# Write a function that converts a sparse vector into a dictionary as described above.
# In - convertVector([1, 0, 0, 2, 0, 0, 0, 3, 0, 0, 0, 0, 4])
# Out - {0: 1, 3: 2, 7: 3, 12: 4}
# In - convertVector([1, 0, 1 , 0, 2, 0, 1, 0, 0, 1, 0])
# Out - {0: 1, 2: 1, 4: 2, 6: 1, 9: 1}
# In - convertVector([0, 0, 0, 0, 0])
# Out - {}

InputSparseVector = eval(input("Enter Sparse Vector : "))

def convertVector(InputSparseVector):
  SparseVecotDict = {}
  for i in range(len(InputSparseVector)):
    if (InputSparseVector[i] > 0):
      SparseVecotDict[i] = InputSparseVector[i]
  return SparseVecotDict
print(convertVector(InputSparseVector))

Enter Sparse Vector : [0, 0, 0, 0, 0]
{}

In [9]:
# Write a function that converts a dictionary back to its sparse vector representation.
# In - convertDictionary({0: 1, 3: 2, 7: 3, 12: 4})
# Out - [1, 0, 0, 2, 0, 0, 0, 3, 0, 0, 0, 0, 4]
# In - convertDictionary({0: 1, 2: 1, 4: 2, 6: 1, 9: 1})
# Out - [1, 0, 1, 0, 2, 0, 1, 0, 0, 1]
# In - convertDictionary({})
# Out - []

InputDictionary = eval(input("Enter Dictionary : "))
def convertVector(InputDictionary):
  SparseVecotList = []
  if(len(InputDictionary)>0):
    for i in range(max(list(InputDictionary.keys()))+1):
      if (i in list(InputDictionary.keys())):
        SparseVecotList.append(InputDictionary[i])
      else:
        SparseVecotList.append(0)
  else:
    pass
  return SparseVecotList
print(convertVector(InputDictionary))

Enter Dictionary : {}
[]

In [ ]:
# Given a Python dictionary, Change Bradâ€™s salary to 8500
sampleDict = {
     'emp1': {'name': 'Jhon', 'salary': 7500},
     'emp2': {'name': 'Emma', 'salary': 8000},
     'emp3': {'name': 'Brad', 'salary': 6500}
      }

# Expected Output
# sampleDict = {
#      'emp1': {'name': 'Jhon', 'salary': 7500},
#      'emp2': {'name': 'Emma', 'salary': 8000},
#      'emp3': {'name': 'Brad', 'salary': 8500}
# }

for i in list(sampleDict.keys()):
  if sampleDict[i]['name'] == 'Brad':
    sampleDict[i]['salary']=8500
print(sampleDict)

{'emp1': {'name': 'Jhon', 'salary': 7500}, 'emp2': {'name': 'Emma', 'salary': 8000}, 'emp3': {'name': 'Brad', 'salary': 8500}}

In [ ]:
# Get the key corresponding to the minimum value from the following dictionary
sampleDict = {
   'Physics': 82,
   'Math': 65,
   'history': 75
}
minimumval=(list(sampleDict.values()))[0]
for j in sampleDict:
  if(sampleDict[j]<minimumval):
    minimumval=sampleDict[j]
for key,value in sampleDict.items():
  if(value==minimumval):
    print(key)
    break
# Expected Output
# Math

Math

In [ ]:
# Rename key city to location in the following dictionary
sampleDict = {
   "name": "Kelly",
   "age":25,
   "salary": 8000,
   "city": "New york"
 }
sampleDict["location"] = sampleDict.pop("city")
print(sampleDict)
# Expected Output
# {
#   "name": "Kelly",
#   "age":25,
#   "salary": 8000,
#   "location": "New york"
# }

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New york'}

In [ ]:
# Check if a value 200 exists in a dictionary
sampleDict = {'a': 100, 'b': 200, 'c': 300}
print(200 in sampleDict.values())
# Expected Output: True

True

In [ ]:
# Delete set of keys from Python Dictionary
sampleDict = {
  "name": "Kelly",
  "age":25,
  "salary": 8000,
  "city": "New york"
}
# keysToRemove = ["name", "salary"]
keystobedelted = ''
while True:
  keystobedelted = str(input("Eneter the key you want to delete, Stop to stop the loop:"))
  if(keystobedelted=='Stop'):
    break
  else:
    print("Key deleted: " + str(sampleDict.pop(keystobedelted)))
print("Final Dictionary "+ str(sampleDict))
# Expected Output:
# {'city': 'New york', 'age': 25}

Eneter the key you want to delete, Stop to stop the loop:name
Key deleted: Kelly
Eneter the key you want to delete, Stop to stop the loop:salary
Key deleted: 8000
Eneter the key you want to delete, Stop to stop the loop:Stop
Final Dictionary {'age': 25, 'city': 'New york'}